!!! 5
html(lang="fr")
    head
        title="Age Osseux"
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.css')
        link(rel='stylesheet', href='/css/ageosseux.css')
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.4/jquery.mobile-1.4.4.min.js')
        script(src='/js/ageosseux.js')
    body
        div(data-role='page' data-title="Age Osseux")
            div(data-role='header' data-position="fixed" data-tap-toggle="false")
                h1#headertitle Age osseux Garçon :
                h2#result(style="margin-top:-20px;") Non applicable
            div(data-role='content')
                h3.title(style="text-align:center") Méthode Nahum et Sauvegrain
                .ui-field-contain
                    fieldset(data-role='controlgroup' data-type="horizontal")
                        h3.title Sexe : 
                        input#rc-sex-1(type='radio', name='rc-sex', value='m' checked="checked")
                        label(for='rc-sex-1') M
                        input#rc-sex-2(type='radio', name='rc-sex', value='f')
                        label(for='rc-sex-2') F
                .ui-field-contain
                    fieldset(data-role='controlgroup' data-type="horizontal")
                        h3.title A Condyle
                        input#radio-choice-1(type='radio', name='radio-choice-1', value='1' checked="checked")
                        label(for='radio-choice-1')
                            img.btnimg.btnimg(src='/img/ao/C1.svg')
                        input#radio-choice-2(type='radio', name='radio-choice-1', value='2')
                        label(for='radio-choice-2') 
                            img.btnimg(src='/img/ao/C2.svg')
                        input#radio-choice-3(type='radio', name='radio-choice-1', value='3')
                        label(for='radio-choice-3') 
                            img.btnimg(src='/img/ao/C3.svg')
                        input#radio-choice-4(type='radio', name='radio-choice-1', value='4')
                        label(for='radio-choice-4') 
                            img.btnimg(src='/img/ao/C4.svg')
                        input#radio-choice-5(type='radio', name='radio-choice-1', value='5')
                        label(for='radio-choice-5') 
                            img.btnimg(src='/img/ao/C5.svg')
                        input#radio-choice-6(type='radio', name='radio-choice-1', value='6')
                        label(for='radio-choice-6') 
                            img.btnimg(src='/img/ao/C6.svg')
                        input#radio-choice-7(type='radio', name='radio-choice-1', value='7')
                        label(for='radio-choice-7') 
                            img.btnimg(src='/img/ao/C7.svg')
                        input#radio-choice-8(type='radio', name='radio-choice-1', value='8')
                        label(for='radio-choice-8') 
                            img.btnimg(src='/img/ao/C8.svg')
                        input#radio-choice-9(type='radio', name='radio-choice-1', value='9')
                        label(for='radio-choice-9') 
                            img.btnimg(src='/img/ao/C9.svg')
                .ui-field-contain
                    fieldset(data-role='controlgroup' data-type="horizontal")
                        h3.title B Trochlée
                        input#radio-choice-11(type='radio', name='radio-choice-2', value='1' checked="checked")
                        label(for='radio-choice-11')
                            img.btnimg(src='/img/ao/T1.svg')
                        input#radio-choice-12(type='radio', name='radio-choice-2', value='2')
                        label(for='radio-choice-12') 
                            img.btnimg(src='/img/ao/T2.svg')
                        input#radio-choice-13(type='radio', name='radio-choice-2', value='3')
                        label(for='radio-choice-13') 
                            img.btnimg(src='/img/ao/T3.svg')
                        input#radio-choice-14(type='radio', name='radio-choice-2', value='4')
                        label(for='radio-choice-14') 
                            img.btnimg(src='/img/ao/T4.svg')
                        input#radio-choice-15(type='radio', name='radio-choice-2', value='5')
                        label(for='radio-choice-15') 
                            img.btnimg(src='/img/ao/T5.svg')
                .ui-field-contain
                    fieldset(data-role='controlgroup' data-type="horizontal")
                        h3.title C Olécrane
                        input#radio-choice-21(type='radio', name='radio-choice-3', value='1' checked="checked")
                        label(for='radio-choice-21')
                            img.btnimg(src='/img/ao/O1.svg')
                        input#radio-choice-22(type='radio', name='radio-choice-3', value='2')
                        label(for='radio-choice-22') 
                            img.btnimg(src='/img/ao/O2.svg')
                        input#radio-choice-23(type='radio', name='radio-choice-3', value='3')
                        label(for='radio-choice-23') 
                            img.btnimg(src='/img/ao/O3.svg')
                        input#radio-choice-24(type='radio', name='radio-choice-3', value='4')
                        label(for='radio-choice-24') 
                            img.btnimg(src='/img/ao/O4.svg')
                        input#radio-choice-25(type='radio', name='radio-choice-3', value='5')
                        label(for='radio-choice-25') 
                            img.btnimg(src='/img/ao/O5.svg')
                        input#radio-choice-26(type='radio', name='radio-choice-3', value='6')
                        label(for='radio-choice-26') 
                            img.btnimg(src='/img/ao/O6.svg')
                        input#radio-choice-27(type='radio', name='radio-choice-3', value='7')
                        label(for='radio-choice-27') 
                            img.btnimg(src='/img/ao/O7.svg')
                .ui-field-contain
                    fieldset(data-role='controlgroup' data-type="horizontal")
                        h3.title D Tête radiale
                        input#radio-choice-31(type='radio', name='radio-choice-4', value='1' checked="checked")
                        label(for='radio-choice-31')
                            img.btnimg(src='/img/ao/R1.svg')
                        input#radio-choice-32(type='radio', name='radio-choice-4', value='2')
                        label(for='radio-choice-32') 
                            img.btnimg(src='/img/ao/R2.svg')
                        input#radio-choice-33(type='radio', name='radio-choice-4', value='3')
                        label(for='radio-choice-33') 
                            img.btnimg(src='/img/ao/R3.svg')
                        input#radio-choice-34(type='radio', name='radio-choice-4', value='4')
                        label(for='radio-choice-34') 
                            img.btnimg(src='/img/ao/R4.svg')
                        input#radio-choice-35(type='radio', name='radio-choice-4', value='5')
                        label(for='radio-choice-35') 
                            img.btnimg(src='/img/ao/R5.svg')
                        input#radio-choice-36(type='radio', name='radio-choice-4', value='6')
                        label(for='radio-choice-36') 
                            img.btnimg(src='/img/ao/R6.svg')
                h3.title Schéma
                img(src='/img/ao/coude.svg')
