!!! 5
html(lang="fr")
    head
        title="Espace Santé"
        style body {background-color:#6E6E6E}
    body
        div(style="width: 400px; height: 500px;position: absolute; top:0; bottom: 0; left: 0; right: 0; margin: auto; text-align:center;")
            h1(style="color:white;") Espace Santé
            img(style="display: block; margin-left: auto; margin-right: auto;" src='/img/es_logo.svg')
            p(style="color:white;") Prochainement