!!! 5
html(lang="fr")
    head
        title="Espace Santé"
       
        link(rel="stylesheet" href="/css/test1.css" media="screen")
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
    body
        div.height
            div.color6.width +
            div.color7.width +
            div.color1 +
        div.size
            div.color3.width +
            div.color4.width +
            div.color2 +
        div.height
            div.color6.width +
            div.color7.width +
            div.color5 +
