!!! 5
html(lang="fr")
    head
        title="Espace Santé"
       
        link(rel="stylesheet" href="/css/test.css" media="screen")
        script(src='http://code.jquery.com/jquery-2.1.1.min.js')
        script(src='/js/test.js')
    body
        div.center
            h1.white Espace Santé
            img.imahe(src='/img/es_logo.svg')
            p.white Prochainement
            a.printMe Hello